/* _content/PatientPortal/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-cnn2s8vuau] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cnn2s8vuau] {
    flex: 1;
}

.sidebar[b-cnn2s8vuau] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cnn2s8vuau] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cnn2s8vuau]  a, .top-row[b-cnn2s8vuau]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cnn2s8vuau]  a:hover, .top-row[b-cnn2s8vuau]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cnn2s8vuau]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-cnn2s8vuau] {
        justify-content: space-between;
    }

    .top-row[b-cnn2s8vuau]  a, .top-row[b-cnn2s8vuau]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cnn2s8vuau] {
        flex-direction: row;
    }

    .sidebar[b-cnn2s8vuau] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cnn2s8vuau] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cnn2s8vuau]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cnn2s8vuau], article[b-cnn2s8vuau] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-cnn2s8vuau] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-cnn2s8vuau] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/PatientPortal/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-kev7xi2zs1] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-kev7xi2zs1] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-kev7xi2zs1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-kev7xi2zs1] {
    font-size: 1.1rem;
}

.bi[b-kev7xi2zs1] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-kev7xi2zs1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-kev7xi2zs1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-kev7xi2zs1] {
    background-image: url("'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' width='16' height='16' fill='white' class='fa fa-file-text-o' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.SVGBG-folder-open[b-kev7xi2zs1] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="white" width ="16" height="16"><path d="M19.5 6h-7.29a.47.47 0 0 1-.35-.15l-1.12-1.12A2.49 2.49 0 0 0 8.97 4H4.51a2.5 2.5 0 0 0-2.5 2.5v11a2.5 2.5 0 0 0 2.5 2.5h15a2.5 2.5 0 0 0 2.5-2.5v-9a2.5 2.5 0 0 0-2.5-2.5Zm-15 0h4.29c.13 0 .26.05.35.15l1.12 1.12c.47.47 1.1.73 1.77.73h7.46c.28 0 .5.22.5.5v1.85a3.45 3.45 0 0 0-1.5-.35H5.5c-.54 0-1.04.13-1.5.35V6.5c0-.28.22-.5.5-.5ZM20 17.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-4c0-.83.67-1.5 1.5-1.5h13c.83 0 1.5.67 1.5 1.5v4Z"/></svg>');
}






.nav-item[b-kev7xi2zs1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-kev7xi2zs1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-kev7xi2zs1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-kev7xi2zs1]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-kev7xi2zs1]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-kev7xi2zs1]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-kev7xi2zs1] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-kev7xi2zs1] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-kev7xi2zs1] {
        display: none;
    }

    .nav-scrollable[b-kev7xi2zs1] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/PatientPortal/Components/Pages/Home.razor.rz.scp.css */
body[b-s2sfjjkuzj] {
    flex: 0;
    background-color: blueviolet;
}




/* styling headers and letters
    namedStatus: named headers to know what is section is about
    namedData: 
*/
.namedStatus[b-s2sfjjkuzj] {
    color:darkmagenta;
    font-size: 14px;
    font-family: cursive;
    text-align:start;
}

.namedBold-Data[b-s2sfjjkuzj] {
    font: bold;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}



/*
   Setting up Home Page content organization


*/

.home-page[b-s2sfjjkuzj] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    
}


.leftSideContent[b-s2sfjjkuzj] {
    display: flex;
    flex-direction: column;
    background-color: blueviolet; /* NEED TO DELETE THIS LATER */
    width: 60%;
}


.rightSideContent[b-s2sfjjkuzj] {
    display: flex;
    border-block: 1px solid;
    flex-direction: column;
    width: 40%;
    background-color:bisque;  /* NEED TO DELETE THIS AND FIX THIS*/
}



/* Top-boxes: 3 blocks element*/
.boxes-content[b-s2sfjjkuzj] {

    display:inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
   
}

.block-element[b-s2sfjjkuzj] {
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 22vh;
    height: 25vh;

    /* Modifications for the elements inside */

}

/*       Top-boxes END         */




/* Middle-boxes : 2 blocks elements*/

.middleboxs-content[b-s2sfjjkuzj] {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}


    .middleboxs-content[b-s2sfjjkuzj]  .left-box {
    background-color: white;
    margin-left: 40px;
    margin-top: 20px;
    width: 56.5vh;
    height: 30vh;
    
    }

    .middleboxs-content[b-s2sfjjkuzj]  .right-box {
    background-color: white;
    width: 22vh;
    height: 30vh;
    margin-top: 20px;
    margin-left: 110px;
    }

/*    Middle-boxes: END              */




/*    BOTTOM 2 BOXES   */
.bottomboxes-content[b-s2sfjjkuzj] {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
    margin-top: 20px;
}

    .bottomboxes-content[b-s2sfjjkuzj]  .left-box {
    background-color: white;
    width: 43vh;
    height:20vh;
    }

    .bottomboxes-content[b-s2sfjjkuzj]  .right-box {
    background-color: white;
    width: 43vh;
    height:20vh;
    }

/*  BOTTOM 2 BOXES  END  */
