@page "/"

<PageTitle>Home</PageTitle>

<!-- HOME PAGE CONTENTs-->
<div class="home-page container-fluid">



    <!-- Left Side Content-->

    <div class="leftSideContent">
        <div class="TopHeader">
            <h1>Welcome back, Kate</h1>
        </div>

    </div>





    












    <!-- Right Side Content-->


    <div class="rightSideContent">
        <p> Kate Tanner</p>
    </div>

























</div>

