@page "/"

<PageTitle>Home</PageTitle>

<!-- HOME PAGE CONTENTs-->
<div class="home-page container-fluid">



    <!-- Left Side Content-->

    <div class="leftSideContent">

        <div class="TopHeader">
            <h1>Welcome back, Kate</h1>
        </div>

        <!-- Top 3 boxes on the left side-->
        <div class="boxes-content">

            <div class="block-element">
                
            </div>
            <div class="block-element">
                
            </div>
            <div class="block-element">
                
            </div>

        </div>

        <!-- Middle 2 boxes-->
        <div class="middleboxs-content">

            <div class="left-box">
                
            </div>

            <div class="right-box">
                
            </div>
        </div>

        <!-- Bottom 2 boxes-->
        <div class="bottomboxes-content">

            <div class="left-box">

            </div>

            <div class="right-box">

            </div>

        </div>

    </div>





    












    <!-- Right Side Content-->


    <div class="rightSideContent" style="text-align:center;">
        <p>Hellow</p>
    </div>

























</div>

